@media (max-width: 711px) {

    /* header */
    header {
        padding-inline: 38px;
    }

    .fa-bars {
        display: block;
    }

    .headerNav {
        display: none;
    }

    /* section 1 */
    .section1 {
        padding-inline: 38px;
    }

    .section1 h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .section1 p {
        font-size: 14px;
        line-height: 22px;
    }

    /* section 2 */
    .section2 {
        padding: 40px 38px;
    }

    /* section 3 */
    .section3 {
        padding: 40px 38px;
    }

    .section3Section article {
        width: 100%;
    }

    .section3Article5,
    .section3Article6 {
        display: none;
    }
}